/* SCSS es mas nuevo pero utiliza los {} y ; */
/* SASS es antiguo pero no utiliza los {} y ;*/
body {
    background: #f2f2f2;
}

.articulo {
    background: #fff;
    .titulo{
        color: aqua;
    }
    .autor {
        color: blue;
    }
}